<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="header">
    <div class="logo">
      <img src="http://ateliware.sherclock.com/images/global/sherclock-d526a9732c5aedc564586e803330ba4e.svg?vsn=d"
        alt="Logo">
    </div>
    <div class="user">
      <p>Luiz</p>
    </div>
  </nav>

  <div class="global-container">
    <div class="max-container">
      <div class="navigator-itens">
        <p class="step-navigator">Site</p>
        <img src="assets/arrow-right.svg" alt="Arrow">
        <p class="step-navigator active">Timesheets</p>
      </div>
      <div class="container">
        <div class="container-menus">
          <div class="logo-company">
            <img
              src="assets/ateliware.png"
              alt="Logo company">
          </div>
          <p class="user-name">Luiz Paulo Pilegi de Almeida</p>
          <p class="company-name">ateliware</p>

          <div class="item-menu active">
            <img src="assets/list.svg" alt="">
            <p>Timesheets</p>
          </div>

          <div class="item-menu">
            <img src="assets/list.svg" alt="">
            <p>Customers</p>
          </div>

          <div class="item-menu">
            <img src="assets/list.svg" alt="">
            <p>Projects</p>
          </div>

          <div class="item-menu">
            <img src="assets/list.svg" alt="">
            <p>Categories</p>
          </div>

          <div class="item-menu">
            <img src="assets/list.svg" alt="">
            <p>Activities</p>
          </div>

          <div class="item-menu">
            <img src="assets/list.svg" alt="">
            <p>Me</p>
          </div>

          <div class="item-menu">
            <img src="assets/list.svg" alt="">
            <p>Reports</p>
          </div>
        </div>
        <div class="container-body">
          <div class="box-clock">
            <div class="clock active">
              <p class="day-name">Domingo</p>
              <p class="day-number">10</p>
              <p class="day-total">0.00</p>
            </div>
            <div class="clock">
              <p class="day-name">Segunda</p>
              <p class="day-number">11</p>
              <p class="day-total">0.00</p>
            </div>
            <div class="clock">
              <p class="day-name">Terça</p>
              <p class="day-number">12</p>
              <p class="day-total">0.00</p>
            </div>
            <div class="clock">
              <p class="day-name">Quarta</p>
              <p class="day-number">13</p>
              <p class="day-total">0.00</p>
            </div>
            <div class="clock">
              <p class="day-name">Quinta</p>
              <p class="day-number">14</p>
              <p class="day-total">0.00</p>
            </div>
            <div class="clock">
              <p class="day-name">Sexta</p>
              <p class="day-number">15</p>
              <p class="day-total">0.00</p>
            </div>
            <div class="clock">
              <p class="day-name">Sábado</p>
              <p class="day-number">16</p>
              <p class="day-total">0.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>